.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# IDE
.idea/*

# Composer
vendor/*

# ThinkPHP
.env
runtime/*

# Subject
.phpunit.result.cache
config/environment.php
public/storage/*
public/admin/vendor/*