.el-main {
    background-color: #F7F8FE;
}

.iframe-container {
    height: 100% !important;
}

.el-aside .menu-box {
    height: calc(100% - 225px);
}

.miniapp-box {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.miniapp-box .miniapp-icon {
    margin: 0 auto;
}

.miniapp-box.fold .miniapp-icon {
    animation: fold 0.3s;
    width: 40px;
}

.miniapp-box.expand .miniapp-icon {
    animation: expand 0.4s;
    width: 120px;
}

.miniapp-box .miniapp-icon-img {
    width: 100%;
    border-radius: 5px;
}

.miniapp-box .miniapp-title {
    margin: 10px auto 0;
    width: 100%;
    /* 单行 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.miniapp-box.fold .miniapp-title {
    animation: hide 0.3s;
    width: 0%;
    display: none;
}

.miniapp-box.expand .miniapp-title {
    animation: show 0.8s;
    width: 100%;
    display: block;
}

@keyframes fold {
    0% {
        width: 120px;
    }

    100% {
        width: 40px;
    }
}

@keyframes expand {
    0% {
        width: 40px;
    }

    30% {
        width: 40px;
    }

    100% {
        width: 120px;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        width: 0%;
    }

    100% {
        opacity: 0;
        width: 100%;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        width: 0%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.date-range {
    display: flex;
    align-items: center;
}